language: generic
services: docker
os: linux

stages:
  - tools
  - development
  - rl
  # Disable test
  - name: test
    if: env(DUMMYVAR) is present

script:
  - cd $TRAVIS_BUILD_DIR
  - make $TARGET

after_success:
  - if ! [[ "$TRAVIS_REPO_SLUG" = "diegoferigo/development-iit" && "$TRAVIS_BRANCH" = "master" && "$TRAVIS_PULL_REQUEST" = "false" && "$PUSH_TO_DOCKERHUB" = "true" ]] ; then travis_terminate 0 ; fi
  - docker login --username=$DOCKERHUB_USERNAME --password=$DOCKERHUB_PASSWORD
  - make push-$TARGET
  - if [ "$IS_LATEST" = "true" ] ; then make push-${IMAGE_FOLDER,,}-latest ; fi

jobs:
  include:
    # =====
    # TOOLS
    # =====
    - &tools_template
      stage: tools
      env:
        - IMAGE_FOLDER="Tools"
        - IS_LATEST=false
        - PUSH_TO_DOCKERHUB=true
        - TARGET="tools"
    # ===========
    # DEVELOPMENT
    # ===========
    - &development_template
      stage: development
      env:
        - IMAGE_FOLDER="Development"
        - IS_LATEST=true
        - PUSH_TO_DOCKERHUB=true
        - TARGET="development-master"
    - <<: *development_template
      env:
        - IMAGE_FOLDER="Development"
        - IS_LATEST=false
        - PUSH_TO_DOCKERHUB=true
        - TARGET="development-devel"
    # ======================
    # REINFORCEMENT LEARNING
    # ======================
    - &rl_template
      stage: rl
      env:
        - IMAGE_FOLDER="RL"
        - IS_LATEST=true
        - PUSH_TO_DOCKERHUB=true
        - TARGET="rl-master"
    #- <<: *rl_template
    #  env:
    #    - IMAGE_FOLDER="RL"
    #    - IS_LATEST=true
    #    - PUSH_TO_DOCKERHUB=true
    #    - TARGET="rl-ubuntu"
